@import "tailwindcss";

@theme {
  --primary-500: #71102f;
  --secondary-500: #f2f0e9;
}

:root {
  --primary: #71102f;
  --secondary: #f2f0e9;
}

body {
  background: var(--secondary);
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
